.cars-wrapper{
    top: 90px;
    left: 18%;
    position:absolute;
    background-color: #F5F5F5;

    width: 75%;
}
.cars-wrapper{
    background-color: #F5F5F5;

}
.cars-wrapper .heading{
    font-size: 30px;
    font-family: 'DM Sans';
    line-height: 39px;
    font-weight: bold;
    color: #242731;
    margin-bottom: 3%;
}
.filters{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters .dropdowns{
    display: flex;
    width: 250px;
    justify-content: space-between;
}
.select-wrapper{
    width: 45%;
    position: relative;
}
.filters .dropdowns select{
    outline: none;
    appearance: none;
    width: 100%;
    padding: 8px 15px 8px 15px;
    border-radius: 22.5px;
    color: #5F6165;
    font-size: 16px;
    font-family:'DM Sans';
}
.select-wrapper p{
    position: absolute;
    top: 5px;
    right: 5px;
}
.right-side{
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cars-grid{
    width: 100%;
    margin-top: 3%;
    column-gap: 2%;
    display: grid;
    row-gap: 4%;
    grid-template-columns: auto auto auto;
}
.car-card{
    border-radius: 16px;
    width: 100%;
    padding: 24px;
    background-color: white;
}
.car-card .heading{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family:'DM Sans';
    color: #242731;
    line-height: 23px;
}
.car-model{
    font-size: 16px;
    font-family:'DM Sans';
    color: #72767C;
}
.car-card img{
    display: block;
    margin: 0 auto;
}
.card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
}
.card-footer .left-side{
    display: flex;
    align-items: center;
}
.card-footer .left-side h4{
    display: flex;
    font-size: 16px;
    font-family:'DM Sans';
    margin-right: 10%;
    color: #72767C;
    
}
.card-footer .price{
    color: #72767C;
    font-size: 18px;
    font-family:'DM Sans';
}
.card-footer .price span{
    color: #242731
    ;
}
@media screen and (max-width: 770px) {
    .cars-grid{
    grid-template-columns: auto auto ;}

}
@media screen and (max-width: 430px) {
    .cars-grid{
        grid-template-columns: auto  ;
        row-gap: 1%;
    }
}