
.dashboard{
    top: 90px;
    left: 18%;
    position:absolute;
    width: 75%;
    
}
.charts-wrapper{
    margin-bottom: 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.charts-wrapper div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 20%;
    height: 266px;
    border-radius: 10px;
}
.charts-wrapper div:first-of-type{
    background-color: #A162F7;
}
.charts-wrapper div p:first-of-type{
    margin-bottom: 2%;
}
.charts-wrapper div h4{
    font-size: 24px;
    font-family: 'DM sans';
    margin-bottom: 5%;
   color: #242731;
}
.charts-wrapper div:first-of-type h4{
    color: #FFFFFF;
}
.Loan{
    padding: 3%;
    justify-content: space-between;
    background-color: #FFE0BA;
    display: flex;
    width: 50%;
    border-radius: 5px;
}
.Loan .apply-for-laon h2{
    font-size: 24px;
    color: #0F2837;
    font-weight: bold;
    margin-bottom: 2%;
}
.Loan .apply-for-laon p{
    font-size: 16px;
    color: #0F2837;
    margin-bottom: 10%;
}
.Loan .apply-for-laon button{
    margin-top: 5%;
    background-color: #0F2837;
    border-radius: 4px;
    padding: 12px 24px 12px 24px;
    height: 50px;
    color: white;
    font-size: 12px;
    font-weight: Bold;
}
.middle-section{
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
}
.earnings-container{
    width: 20%;
    border-radius: 5px;
    padding: 2%;
}
.earnings{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15%;
}
.earned{
    font-size: 24px;
    color: white;
}
.earned span{
font-size: 40px;
font-weight: bold;
}
.lower-section{
    display: flex;
    justify-content: space-between;
}
.recommend-wrapper{
    width: 30%;
    padding: 15px 27px 15px 27px;
    border-radius: 14px;
}
.recommend{
    width: 90%;
    margin: 0 auto;
    height: 200px;

}
.recommend .heading{
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    font-family: 'DM Sans';
    color: #242731;
}
.recommend .heading span{
    margin-right: 2%;
}
.recommend img{
    margin: 0 auto;
    display: block;
}
.recommend .car-name{
    margin-bottom: 1%;
    font-size: 20px;
    font-family: 'DM Sans';
    color: #1F2128;
}
.recommend .car-info{
    font-size: 14px;
    font-family: 'DM Sans';
    color: #72767C;
    display: flex;
    justify-content: space-between;
}
.recommend .car-info .left-side{
    display: flex;
    justify-content: space-between;
    width: 40%;
}