
.layout-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    position:absolute;
    background-color: #FFFFFF;
    height: 78px;
    padding: 15px 31px 15px 31px;
    right: 0;

}
.sidebar{
    position: absolute;
    width: 15%;
    height: 100%;
    background-color: blue;
}
.searchbar{
    height: 46px;
    position: relative;
    width: 30%;
}
.searchbar input{
    border: 1px solid #F5F4F6;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: #F5F5F5;
    padding-left: 10%;
}
.searchbar .lens{
    position: absolute;
    left: 2%;
    top: 25%;
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8%;
}
.profile img{
    border-radius: 50%;
}