
.layout-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    position:absolute;
    background-color: #FFFFFF;
    height: 78px;
    padding: 15px 31px 15px 31px;
    right: 0;
    border-left: 1px solid #F5F5F5;
}
.sidebar{
    position: fixed;
    width: 15%;
    height: 100%;
    background-color: white;
}
.searchbar{
    height: 46px;
    position: relative;
    width: 30%;
}
.searchbar input{
    border: 1px solid #F5F4F6;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: #F5F5F5;
    padding-left: 10%;
}
.searchbar .lens{
    position: absolute;
    left: 2%;
    top: 25%;
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8%;
}
.profile img{
    border-radius: 50%;
}
/*sidebar*/
.sidebar{
    padding: 30px 24px 30px 24px;

}
.sidebar h1{
    margin-bottom: 5%;
}
.menu-items div{
    padding: 2%;
    border-radius: 8px;
    height: 34px;
    display: flex;
    width: 250px;
    align-items: center;
}
.menu-items .active{
    background-color: #F5F5F5;
}
.menu-items h2{
    margin-left: 5%;
    text-align: center;
    color: #5F6165;
    font-size: 14px;
}
.sidebar-footer{
    position:absolute;
    bottom: 2%;
    
}
.sidebar-footer h2{
    margin-left: 3%;
    text-align: center;
    color: #5F6165;
    font-size: 14px;
}
.sidebar-footer div{
    height: 34px;
    display: flex;
    align-items: center;
}